<div ng-controller="Shield.Editors.Elmah.Reporting as vm" ng-init="vm.getErrors()">
  <umb-load-indicator ng-show="vm.loading"></umb-load-indicator>

  <umb-editor-view ng-show="!vm.loading">
    <umb-editor-container>
      <div class="umb-pane" ng-show="vm.selectedError === null">
        
        <div style="margin-bottom: 20px; float: right;">
          <span class="btn" ng-click="vm.getErrors()" style="margin-right: 15px;">
            <localize key="Shield.Elmah.General_RefreshListingButtonText">Refresh Errors</localize>
          </span>

          <span class="btn" ng-click="vm.generateTestException()">
            <localize key="Shield.Elmah.General_TestExceptionButtonText">Generate Test Error</localize>
          </span>
        </div>

        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th><localize key="Shield.Elmah.General.Table_HostHeader">Host</localize></th>
              <th><localize key="Shield.Elmah.General.Table_CodeHeader">Code</localize></th>
              <th><localize key="Shield.Elmah.General.Table_TypeHeader">Type</localize></th>
              <th><localize key="Shield.Elmah.General.Table_ErrorHeader">Error</localize></th>
              <th><localize key="Shield.Elmah.General.Table_DateHeader">Date</localize></th>
              <th><localize key="Shield.Elmah.General.Table_TimeHeader">Time</localize></th>
            </tr>
          </thead>
          <tbody>
            <tr class="animate-repeat" ng-repeat="error in vm.errors track by $index" ng-click="vm.viewError(error.id)" style="cursor: pointer;">
              <td>{{ error.error._hostName }}</td>
              <td>{{ error.error._statusCode }}</td>
              <td>{{ error.error._typeName }}</td>
              <td>{{ error.error._message }}</td>
              <td>{{ error.error._time | date:'dd/MM/yyyy' }}</td>
              <td>{{ error.error._time | date:'HH:mm' }}</td>
            </tr>
          </tbody>
        </table>
        <div class="flex justify-center">
          <umb-pagination ng-if="vm.totalPages > 1"
                          page-number="vm.pageNumber"
                          total-pages="vm.totalPages"
                          on-next="vm.nextPage"
                          on-prev="vm.prevPage"
                          on-go-to-page="vm.gotoPage">
          </umb-pagination>
        </div>
      </div>

      <div class="umb-pane" ng-show="vm.selectedError !== null">

        <span ng-click="vm.selectedError = null" class="btn" style="margin-bottom: 20px;">
          <localize key="Shield.Elmah.General_ListingButtonText">Return to Errors</localize>
        </span>

        <table class="table table-bordered">
          <tr>
            <th><localize key="Shield.Elmah.General.Table_HostHeader">Host</localize></th>
            <td>{{ vm.selectedError.error._hostName }}</td>
          </tr>
          <tr>
            <th><localize key="Shield.Elmah.General.Table_CodeHeader">Code</localize></th>
            <td>{{ vm.selectedError.error._statusCode }}</td>
          </tr>
          <tr>
            <th><localize key="Shield.Elmah.General.Table_TypeHeader">Type</localize></th>
            <td>{{ vm.selectedError.error._typeName }}</td>
          </tr>
          <tr>
            <th><localize key="Shield.Elmah.General.Table_ErrorHeader">Error</localize></th>
            <td>{{ vm.selectedError.error._message }}</td>
          </tr>
          <tr>
            <th><localize key="Shield.Elmah.General.Table_DateHeader">Date</localize></th>
            <td>{{ vm.selectedError.error._time | date:'yyyy-MM-dd' }}</td>
          </tr>
          <tr>
            <th><localize key="Shield.Elmah.General.Table_TimeHeader">Time</localize></th>
            <td>{{ vm.selectedError.error._time | date:'HH:mm' }}</td>
          </tr>
          <tr>
            <th colspan="2"><localize key="Shield.Elmah.General.Table_StackTraceHeader">StackTrace</localize></th>
          </tr>
          <tr>
            <td colspan="2"><pre style="height: 350px; background: #fff; border: none;">{{ vm.selectedError.error._detail }}</pre></td>
          </tr>
          <tr ng-if="vm.selectedError.error._webHostHtmlMessage">
            <th colspan="2"><localize key="Shield.Elmah.General.Table_WebHostHtmlMessageHeader">Web Host Html Message</localize></th>
          </tr>
          <tr ng-if="vm.selectedError.error._webHostHtmlMessage">
            <td colspan="2"><iframe id="webHostingHtmlIframe" width="100%" height="350"></iframe></td>
          </tr>
        </table>
      </div>
    </umb-editor-container>
  </umb-editor-view>
</div>