<div class="umb-table" ng-controller="Shield.Controllers.EnvironmentAppsListing as vm" ng-init="vm.init()">

  <umb-load-indicator ng-show="vm.loading"></umb-load-indicator>

  <div class="umb-table-head" ng-hide="vm.loading">
    <div class="umb-table-row">

      <div class="umb-table-cell app-icon-cell">
        &nbsp;
      </div>

      <div class="umb-table-cell shield-table__name">
        <a class="umb-table-head__link" href="#" prevent-default>
          <span>Name</span>
          <i class="umb-table-head__icon icon"></i>
        </a>
      </div>

      <div class="umb-table-cell">
        <a class="umb-table-head__link" href="#" prevent-default>
          <span>Description</span>
          <i class="umb-table-head__icon icon"></i>
        </a>
      </div>

      <div class="umb-table-cell shield-table__name-enable">
        <a class="umb-table-head__link" href="#" prevent-default>
          <span>Enable</span>
          <i class="umb-table-head__icon icon"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="umb-table-body">
    <div class="umb-table-row"
         ng-repeat="app in vm.apps track by app.app.key"
         ng-class="{'-selected': app.enable}"
         ng-click="vm.appClick(app.app.key)">

      <div class="umb-table-cell app-icon-cell">
        <i class="umb-table-body__icon umb-table-body__fileicon">
          <span class="{{app.app.icon}}"></span>
        </i>
      </div>

      <div class="umb-table-cell">
        <localize key="{{vm.getAppNameKey(app.app.id)}}"></localize>
      </div>

      <div class="umb-table-cell">
        <localize key="{{vm.getAppDescriptionKey(app.app.id)}}"></localize>
      </div>

      <div class="umb-table-cell">
        <i style="font-size: 20px;"
           ng-class="{'icon-check color-green': app.configuration.enabled, 'icon-wrong color-red': !app.configuration.enabled}"></i>
      </div>
    </div>
  </div>
</div>