<div class="umb-el-wrap control-group umb-control-group">
    <div>
        <h4 ng-bind-html="vm.app.description"></h4>
    </div>
</div>

<div class="umb-el-wrap control-group umb-control-group">
    <div>
        <label for="enable" class="control-label">
            <localize key="Shield.Properties_EnableLabel">Enable</localize>
            <small>
                <localize key="Shield.Properties_EnableDescription">Is this App active</localize>
            </small>
        </label>
        <div class="controls">
            <div class="umb-editor umb-checkbox">
                <input type="checkbox" id="enable" ng-model="vm.app.configuration.enable" />
            </div>
        </div>
    </div>
</div>

<div ng-if="vm.app.configuration.enable == true">
    <shield-app view="tab.configView" configuration="vm.app.configuration"></shield-app>
</div>