<div class="umb-editor-sub-views">
  <div class="umb-editor-sub-view sub-view-Content">
    <div class="umb-editor-sub-view__content">
      <div class="form-horizontal">
        <div class="umb-group-panel">
          <div class="umb-group-panel__content">

            <h4 ng-bind-html="vm.description"></h4>

            <div class="umb-property">
              <div class="control-group umb-control-group">
                <div class="umb-el-wrap">

                  <div class="control-header">
                    <label class="control-label">
                      <localize key="Shield.Properties_AppEnabledLabel"></localize>
                    </label>
                    <small class="control-description">
                      <localize key="Shield.Properties_AppEnabledDescription"></localize>
                    </small>
                  </div>

                  <div class="controls">
                    <div class="umb-property-editor db">
                      <div class="umb-property-editor umb-boolean">
                        <umb-toggle input-id="Enabled"
                                    checked="vm.config.enable"
                                    on-click="vm.config.enable = !vm.config.enable"
                                    show-labels="false"
                                    label-position="right"
                                    label-on="true"
                                    label-off="false">
                        </umb-toggle>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div ng-if="vm.config.enable">
              <shield-app view="tab.configView" configuration="vm.config"></shield-app>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>