<div ng-controller="Shield.Editors.MediaProtection.Edit as vm" ng-init="vm.init()">

  <ng-form name="FrontendAccessForm">

    <div class="umb-property">
      <div class="control-group umb-control-group">
        <div class="umb-el-wrap">

          <div class="control-header">
            <label class="control-label">
              <localize key="Shield.MediaProtection_MemberOnlyMediaLabel"></localize>
            </label>
            <small class="control-description">
              <localize key="Shield.MediaProtection_MemberOnlyMediaDescription"></localize>
            </small>
          </div>

          <div class="controls">
            <div class="umb-property-editor db">
              <div class="umb-property-editor umb-boolean">
                <umb-toggle input-id="enableMemberOnly"
                            checked="vm.configuration.enableMemberOnlyMedia"
                            on-click="vm.configuration.enableMemberOnlyMedia = !vm.configuration.enableMemberOnlyMedia"
                            show-labels="false"
                            label-position="right"
                            label-on="true"
                            label-off="false">
                </umb-toggle>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="umb-property">
      <div class="control-group umb-control-group">
        <div class="umb-el-wrap">

          <div class="control-header">
            <label class="control-label">
              <localize key="Shield.MediaProtection_HotlinkingLabel"></localize>
            </label>
            <small class="control-description">
              <localize key="Shield.MediaProtection_HotlinkingDescription"></localize>
            </small>
          </div>

          <div class="controls">
            <div class="umb-property-editor db">
              <div class="umb-property-editor umb-boolean">
                <umb-toggle input-id="enableHotLinking"
                            checked="vm.configuration.enableHotLinkingProtection"
                            on-click="vm.configuration.enableHotLinkingProtection = !vm.configuration.enableHotLinkingProtection"
                            show-labels="false"
                            label-position="right"
                            label-on="true"
                            label-off="false">
                </umb-toggle>
              </div>
            </div>

            <div class="umb-property-editor db">
              <div class="umb-property-editor umb-checkboxes" ng-show="vm.configuration.enableHotLinkingProtection">
                <small>
                  <localize key="Shield.MediaProtection_HotlinkingDirectoriesDescription"></localize>
                </small>

                <ul class="unstyled">
                  <li ng-repeat="directory in vm.directories track by $index">
                    <label>
                      <input type="checkbox" ng-model="directory"
                             ng-checked="vm.configuration.hotLinkingProtectedDirectories.indexOf(directory) !== -1"
                             ng-click="vm.toggleSelectedDirectory(directory)"
                             ng-true-value="{{directory}}"
                             ng-false-value="{{directory}}" />

                      <span>{{directory}}</span>
                    </label>
                  </li>
                </ul>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

  </ng-form>

</div>

