<?xml version="1.0" encoding="utf-8"?>
<uSyncBackOfficeSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Import>true</Import>
  <ExportAtStartup>false</ExportAtStartup>
  <ExportOnSave>true</ExportOnSave>
  <WatchForFileChanges>false</WatchForFileChanges>
  <ArchiveVersions>false</ArchiveVersions>
  <Folder>~/uSync/data/</Folder>
  <ArchiveFolder>~/uSync/Archive/</ArchiveFolder>
  <BackupFolder>~/uSync/Backup/</BackupFolder>
  <MaxArchiveVersionCount>0</MaxArchiveVersionCount>
  <DontThrowErrors>false</DontThrowErrors>
  <UseShortIdNames>false</UseShortIdNames>
  <HandlerGroup>default</HandlerGroup>
  <Handlers Group="Default" EnableMissing="true" />
</uSyncBackOfficeSettings>