<div ng-controller="Shield.Editors.BackofficeAccess.Edit as vm" ng-init="vm.init()">
    <ng-form name="BackofficeAccessForm">

        <div class="umb-el-wrap control-group umb-control-group">
            <label for="backendAccessUrl" class="control-label">
                <localize key="Shield.BackofficeAccess.Properties_BackendAccessUrlLabel">Backend Office Access URL</localize>
                <small>
                    <localize key="Shield.BackofficeAccess.Properties_BackendAccessUrlDescription">The URL used to access the CMS.</localize>
                </small>
            </label>

            <div class="controls">
                <div class="umb-editor">
                    <input type="text" id="backendAccessUrl" name="backendAccessUrl" ng-model="vm.configuration.backendAccessUrl" required ng-trim="false" ng-pattern="/^(?:[a-zA-Z0-9]+)?$/" />
                    <span class="help-inline" val-msg-for="backendAccessUrl" val-toggle-msg="required">
                        <localize key="Shield.BackofficeAccess.ErrorMessages_Required">Required</localize>
                    </span>
                    <span class="help-inline" val-msg-for="backendAccessUrl" val-toggle-msg="pattern">
                        <localize key="Shield.BackofficeAccess.ErrorMessages_InvalidBackendAccessUrl">This can be any valid combination of letters and/or numbers, non-case sensitive. You cannot use white space, symbols or special characters</localize>
                    </span>
                </div>
            </div>
        </div>

        <shield-ip-addresses-access ip-addresses-access="vm.configuration.ipAddressesAccess" ip-addresses="vm.configuration.ipAddresses"></shield-ip-addresses-access>

        <div ng-if="vm.configuration.ipAddressesAccess === 1">

            <div class="umb-el-wrap control-group umb-control-group">
                <label for="unauthorisedAction" class="control-label">
                    <localize key="Shield.BackofficeAccess.Properties_UnauthorisedActionLabel">Unauthorised Action</localize>
                    <small>
                        <localize key="Shield.BackofficeAccess.Properties_UnauthorisedActionDescription">Whether to redirect the user or to rewrite the request to another location, when from a disallowed IP Address</localize>
                    </small>
                </label>

                <div class="controls">
                    <div class="umb-editor">
                        <select id="unauthorisedAction" name="unauthorisedAction" ng-model="vm.configuration.unauthorisedAction" required shield-convert-to-number>
                            <option value="0">Redirect</option>
                            <option value="1">Rewrite</option>
                        </select>
                    </div>
                </div>
            </div>

            <shield-url-type model="vm.configuration.urlType"></shield-url-type>

        </div>
    </ng-form>
</div>