<div class="umb-el-wrap control-group umb-control-group" ng-controller="Shield.Properties.IpAddress as vm">
    <label class="control-label">
        <localize key="Shield.BackofficeAccess.Properties_AllowedIpsLabel">White-listed IP address(es)</localize>
        <small>
            <localize key="Shield.BackofficeAccess.Properties_AllowedIpsDescription">The allowed IP address(es) that can access the Backend Office Access Url.</localize>
        </small>
    </label>

    <div class="controls">
        <div class="umb-editor">
            <table class="ipaddress-container">
                <thead>
                    <tr>
                        <th><localize key="Shield.BackofficeAccess.Table_IpAddressHeader">IP Address</localize></th>
                        <th><localize key="Shield.BackofficeAccess.Table_DescriptionHeader">Description</localize></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="ip in vm.configuration.ipAddresses track by $index">
                        <td>
                            <input type="text" id="ipAddress{{$index}}" name="ipAddress{{$index}}" ng-model="ip.ipAddress" required shield-ipaddressvalid shield-ipaddressduplicate="{{vm.configuration.ipAddresses}}" shield-add-to-form="backofficeAccessForm" />
                            <span class="help-inline" val-msg-for="ipAddress{{$index}}" val-toggle-msg="required">
                                <localize key="Shield.BackofficeAccess.ErrorMessages_IpRequired">IP Address is required</localize>
                            </span>
                            <span class="help-inline" val-msg-for="ipAddress{{$index}}" val-toggle-msg="shieldIpaddressduplicate">
                                <localize key="Shield.BackofficeAccess.ErrorMessages_IpDuplicate">IP Address has already been added</localize>
                            </span>
                            <span class="help-inline" val-msg-for="ipAddress{{$index}}" val-toggle-msg="shieldIpaddressvalid">
                                <localize key="Shield.BackofficeAccess.ErrorMessages_IpInvalid">Invalid IP Address. Please enter a valid IPv4 or IPv6 address</localize>
                            </span>
                        </td>

                        <td>
                            <input type="text" ng-model="ip.description" />
                        </td>

                        <td>
                            <span class="btn btn-danger" ng-click="vm.remove($index)">
                                <localize key="Shield.General_Remove">Remove</localize>
                            </span>
                        </td>
                    </tr>
                </tbody>

                <tfoot>
                    <tr>
                        <td></td>

                        <td>
                            <span class="btn btn-success" ng-click="vm.add()">
                                <localize key="general_add">Add</localize>
                            </span>
                        </td>

                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>