<div class="umb-el-wrap control-group umb-control-group" ng-controller="Shield.Properties.IpAddress as vm" ng-init="vm.init()">
    <label class="control-label">
        <localize key="Shield.BackofficeAccess.Properties_AllowedIpsLabel">White-listed IP address(es)</localize>
        <small>
            <localize key="Shield.BackofficeAccess.Properties_AllowedIpsDescription">The allowed IP address(es) that can access the Backend Office Access Url.</localize>
        </small>
    </label>

    <div class="controls">
        <div class="umb-editor">
            <table class="ips-container">
                <thead>
                    <tr>
                        <th><localize key="Shield.BackofficeAccess.Properties_AllowedIpsIpAddressHeader">IP Address</localize></th>
                        <th><localize key="Shield.BackofficeAccess.Properties_AllowedIpsDescriptionHeader">Description</localize></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="ip in vm.configuration.ipAddresses track by $index">
                        <td>
                            <input type="text" ng-model="ip.ipAddress" />
                        </td>

                        <td>
                            <input type="text" ng-model="ip.description" />
                        </td>

                        <td>
                            <span class="btn btn-danger" ng-click="vm.remove($index)">
                                <localize key="Shield.General_Remove">Remove</localize>
                            </span>
                        </td>
                    </tr>
                </tbody>

                <tfoot>
                    <tr>
                        <td></td>

                        <td>
                            <span class="btn btn-success" ng-click="vm.add()">
                                <localize key="Shield.General_Add">Add</localize>
                            </span>
                        </td>

                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>