<div ng-controller="Shield.Editors.MediaProtection.Edit as vm" ng-init="vm.init()">

    <div class="umb-el-wrap control-group umb-control-group">
        <label for="securemedia" class="control-label">
            <localize key="Shield.MediaProtection_MemberOnlyMediaLabel">Secure Media</localize>
            <small>
                <localize key="Shield.MediaProtection_MemberOnlyMediaDescription">Enable media to be only accessible by logged in members</localize>
            </small>
        </label>
        <div class="controls">
            <div class="umb-editor umb-checkbox">
                <input type="checkbox" id="securemedia" ng-model="vm.configuration.enableMemberOnlyMedia" />
            </div>
        </div>
    </div>

    <div class="umb-el-wrap control-group umb-control-group hot_linking-property">
        <label for="hotlinking" class="control-label">
            <localize key="Shield.MediaProtection_HotlinkingLabel">Hot Linking Protection</localize>
            <small>
                <localize key="Shield.MediaProtection_HotlinkingDescription">Stop unauthorized users from accessing your assets from other websites</localize>
            </small>
        </label>
        <div class="controls">
            <div class="umb-editor umb-checkbox">
                <input type="checkbox" id="hotlinking" ng-model="vm.configuration.enableHotLinkingProtection" />
            </div>

            <div class="umb-editor umb-checkboxes" ng-show="vm.configuration.enableHotLinkingProtection">
                <small>
                    <localize key="Shield.MediaProtection_HotlinkingDirectoriesDescription">
                        Select the folders of your website you wish to apply hot linking protection to. These should be folders containing .css, .js, .png, etc. files
                    </localize>
                </small>

                <ul class="unstyled">
                    <li ng-repeat="directory in vm.directories track by $index">
                        <label>
                            <input type="checkbox" ng-model="directory"
                                   ng-checked="vm.configuration.hotLinkingProtectedDirectories.indexOf(directory) !== -1"
                                   ng-click="vm.toggleSelectedDirectory(directory)"
                                   ng-true-value="{{directory}}"
                                   ng-false-value="{{directory}}" />

                            <span>{{directory}}</span>
                        </label>
                    </li>
                </ul>
            </div>

        </div>
    </div>

</div>
