<div class="editor-content" ng-controller="Shield.Controllers.ViewEnvironment as vm" ng-init="vm.init()">

  <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>

  <form name="viewEnvironmentForm"
        ng-submit="vm.save(viewEnvironmentForm)"
        novalidate
        val-form-manager
        ng-if="!vm.loading">

    <umb-editor-view footer="vm.navigation[1].active">

      <umb-editor-header ng-if="vm.navigation[0].active"
                         name="vm.environment.name"
                         name-locked="true"
                         hide-description="true"
                         hide-alias="true"
                         hide-icon="false"
                         icon="vm.environment.icon"
                         navigation="vm.navigation">
      </umb-editor-header>

      <umb-editor-header ng-if="vm.navigation[1].active"
                         name="vm.environment.name"
                         name-locked="false"
                         hide-description="true"
                         hide-alias="true"
                         icon="vm.environment.icon"
                         navigation="vm.navigation">
      </umb-editor-header>

      <umb-editor-container>
        <umb-editor-sub-views sub-views="vm.navigation"></umb-editor-sub-views>
      </umb-editor-container>

      <umb-editor-footer ng-show="vm.navigation[1].active">
        <umb-editor-footer-content-right>
          <umb-button label="{{vm.button.label}}"
                      label-key="{{vm.button.labelKey}}"
                      type="submit"
                      button-style="success"
                      shortcut="ctrl+s"
                      state="vm.button.state"
                      ng-show="vm.navigation[1].active">
          </umb-button>
        </umb-editor-footer-content-right>
      </umb-editor-footer>

    </umb-editor-view>
  </form>
</div>
