<div ng-controller="Shield.Editors.Overview.Sort as vm" ng-init="vm.init()" ng-cloak>

  <div class="umb-dialog-body with-footer sort-order">

    <div class="umb-pane">

      <div ng-if="vm.error" class="alert alert-error">
        <p>{{vm.error.errorMsg}}</p>
      </div>

      <umb-load-indicator ng-show="vm.loading">
      </umb-load-indicator>

      <div ng-if="!vm.loading">
        <p class="abstract"><localize key="sort_sortHelp">Drag the different items up or down below to set how they should be arranged. Or click the column headers to sort the entire collection of items</localize></p>
        <table class="table table-condensed table-sortable">
          <thead>
            <tr>
              <th colspan="2">
                <button type="button" class="btn-reset" ng-click="vm.sort('name')">
                  <strong><localize key="general_name">Name</localize></strong>
                  <span ng-if="vm.sortOrder.column === 'name'" aria-hidden="true">
                    <i ng-class="{ 'icon-navigation-up': vm.sortOrder.reverse, 'icon-navigation-down': !vm.sortOrder.reverse }"></i>
                  </span>
                </button>
              </th>
            </tr>
          </thead>
          <tbody ui-sortable="vm.environments" ng-model="vm.environments">
            <tr ng-repeat="environment in vm.environments track by environment.key">
              <td class="tree-icon"><i class="{{ environment.icon }}"></i></td>
              <td>{{ environment.name }}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>

  <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar">
    <umb-button type="button"
                action="vm.save()"
                state="vm.saveButtonState"
                button-style="success"
                label-key="buttons_save">
    </umb-button>
  </div>

</div>
