<div class="shield-dashboard" ng-controller="Shield.Controllers.EnvironmentsDashboard as vm" ng-init="vm.init()">

  Environments Table Here

  <!--<umb-load-indicator ng-show="vm.loading"></umb-load-indicator>

  <umb-editor-view ng-hide="vm.loading">
    <umb-editor-container>
      <div class="form-horizontal">
        <div class="umb-table">
          <div class="umb-table-head">
            <div class="umb-table-row">

              <div class="umb-table-cell app-icon-cell">
                &nbsp;
              </div>

              <div class="umb-table-cell umb-table__name">
                <a class="umb-table-head__link" href="#" prevent-default>
                  <localize key="Shield.Dashboard.Environment.Table_NameHeader">Name</localize>
                  <i class="umb-table-head__icon icon" ng-class="icon-navigation-up"></i>
                </a>
              </div>

              <div class="umb-table-cell">
                <a class="umb-table-head__link" href="#" prevent-default>
                  <localize key="Shield.Dashboard.Environment.Table_DomainsHeader">Domains</localize>
                  <i class="umb-table-head__icon icon" ng-class="icon-navigation-up"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="umb-table-body">
            <div class="umb-table-row" ng-repeat="environment in vm.environments track by environment.key">

              <div class="umb-table-cell app-icon-cell">
                <i class="umb-table-body__icon umb-table-body__fileicon">
                  <span class="{{environment.icon}}"></span>
                </i>
              </div>

              <div class="umb-table-cell umb-table__name" ng-click="vm.editEnvironment(environment.key)">
                <span ng-bind-html="environment.name"></span>
              </div>

              <div class="umb-table-cell shield-domain-listing">
                <ul>
                  <li ng-repeat="domain in environment.domains track by $index">
                    {{domain.name}}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </umb-editor-container>
  </umb-editor-view>-->
</div>