<div class="umb-enditor-container umb-scrollable row-fluid" ng-controller="Shield.Controllers.JournalDashboard as vm" ng-init="vm.loading=false">

  <umb-load-indicator ng-show="vm.loading"></umb-load-indicator>

  <div class="umb-pane" ng-if="!vm.loading">

    <table class="table table-hover">
      <thead>
        <tr>
          <th>
            <localize key="Shield.Dashboard.Journal_TableHeaderDate">Date</localize>
          </th>
          <th>
            <localize key="Shield.Dashboard.Journal_TableHeaderEnvironment">Environment</localize>
          </th>
          <th>
            <localize key="Shield.Dashboard.Journal_TableHeaderApp">App</localize>
          </th>
          <th>
            <localize key="Shield.Dashboard.Journal_TableHeaderMessage">Message</localize>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in vm.items track by $index">
          <td>
            <span>{{item.dateStamp}}</span>
          </td>
          <td>
            <span>{{item.environment.name}}</span>
          </td>
          <td>
            <span>{{item.app.name}}</span>
          </td>
          <td>
            <span>{{item.message}}</span>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="flex justify-center">
      <umb-pagination page-number="vm.pageNumber"
                      total-pages="vm.totalPages"
                      on-next="vm.nextPage"
                      on-prev="vm.previousPage"
                      on-go-to-page="vm.gotoPage">
      </umb-pagination>
    </div>

  </div>
</div>