<umb-pane>
    <umb-header name="Umbraco Access"
                       hide-icon="true"
                       hide-description="true"
                       hide-alias="true">
        <h1 class="headline">Umbraco Access</h1>
    </umb-header>
    <div class="umb-panel-body umb-scrollable row-fluid">
        <form name="umbracoAccessForm" ng-controller="Shield.Controllers.UmbracoAccess" ng-submit="submitUmbracoAccess(umbracoAccess)">
            <umb-editor-view>
                <umb-editor-container>
                    <div class="form-horizontal">
                        <div class="umb-pane">
                            <umb-control-group label="Backend Access URL" description="The URL used to access the backend office (Umbraco)">
                                <input type="text" class="umb-editor umb-textstring" ng-model="umbracoAccess.backendAccessUrl" />
                            </umb-control-group>
                        </div>
                    </div>
                </umb-editor-container>
                <umb-editor-footer>
                    <umb-editor-footer-content-right>
                        <umb-button type="submit"
                                    label="Update"
                                    button-style="success"
                                    shortcut="ctrl+s"
                                    state="page.saveButtonState">
                        </umb-button>
                    </umb-editor-footer-content-right>
                </umb-editor-footer>
            </umb-editor-view>
        </form>
    </div>
</umb-pane>