<umb-pane>
    <umb-header name="Umbraco Access"
                hide-icon="true"
                hide-description="true"
                hide-alias="true">
        <h1>Umbraco Access</h1>
    </umb-header>
    <div class="umb-panel-body umb-scrollable row-fluid" ng-controller="Shield.Editors.UmbracoAccess.EditController" ng-init="init()">
        <umb-editor-view>
            <form novalidate ng-submit="submitUmbracoAccess()">
                <umb-editor-container>
                    <div class="form-horizontal">
                        <div class="umb-pane">
                            <umb-property property="property" ng-repeat="property in properties track by $index" ng-show="property.visible">
                                <umb-editor model="property"></umb-editor>
                            </umb-property>

                            <!--<fieldset>
                        <umb-control-group label="IP Addresses" description="The allowed IP Address(es) to access the Backend Office URL">
                            <table>
                                <thead>
                                    <tr>
                                        <th>
                                            IP Address
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="ipAddress in configuration.ipAddresses">
                                        <td>
                                            <umb-control-group label="{{ipAddress.Ip}}">
                                            </umb-control-group>
                                        </td>
                                        <td>
                                            <button ng-click="configuration.ipAddresses.splice($index, 1)">Remove</button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>
                                            <umb-control-group>
                                                <input type="text" ng-model="newIp.Ip" />
                                            </umb-control-group>
                                        </td>
                                        <td>
                                            <button ng-click="addIp()">Add</button>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </umb-control-group>
                    </fieldset>-->
                        </div>
                    </div>
                </umb-editor-container>
                <umb-editor-footer>
                    <umb-editor-footer-content-right>
                        <umb-button type="submit"
                                    label="Update"
                                    button-style="success"
                                    shortcut="ctrl+s"
                                    state="page.saveButtonState">
                        </umb-button>
                    </umb-editor-footer-content-right>
                </umb-editor-footer>
            </form>
        </umb-editor-view>
    </div>
</umb-pane>