<div class="umb-editor umb-radiobuttons">
    <ul class="unstyled">
        <li>
            <label class="radio">
                <input type="radio" name="ipRestricted" value="0" ng-model="model.accessType" shield-convert-to-number />

                <localize key="Shield.Properties.IpAccessControl.AccessType_All">Open to all IP addresses</localize>
            </label>
        </li>
        <li>
            <label class="radio">
                <input type="radio" name="ipRestricted" value="1" ng-model="model.accessType" shield-convert-to-number />

                <localize key="Shield.Properties.IpAccessControl.AccessType_None">Open to specific IP Address(es)</localize>
            </label>
        </li>
        <li>
            <small style="margin-left: 20px;">
                <localize key="Shield.Properties.IpAccessControl.Exceptions_Description"></localize>
            </small>
            <shield-ip-access-control-ranges exceptions="model.exceptions"></shield-ip-access-control-ranges>
        </li>
    </ul>
</div>