<table class="ipaddress-container">
    <thead>
        <tr>
            <th><localize key="Shield.Properties.IpAccessControl.Exceptions_IpAddressHeader">IP Address</localize></th>
            <th><localize key="Shield.Properties.IpAccessControl.Exceptions_DescriptionHeader">Description</localize></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="exception in exceptions track by $index">
            <td>
                <span ng-if="exception.ipAddressType === 0">
                    {{exception.fromIpAddress}}
                </span>

                <span ng-if="exception.ipAddressType === 1">
                    {{exception.fromIpAddress}} - {{exception.toIpAddress}}
                </span>
            </td>

            <td>
                <span>{{exception.description}}</span>
            </td>

            <td>
                <span class="btn btn-info" ng-click="edit($index)">
                    <localize key="Shield.General_Edit">Edit</localize>
                </span>
                
                <span class="btn btn-danger" ng-click="remove($index)">
                    <localize key="Shield.General_Remove">Remove</localize>
                </span>
            </td>
        </tr>
    </tbody>

    <tfoot>
        <tr>
            <td></td>

            <td>
                <span class="btn btn-success" ng-click="add()">
                    <localize key="general_add">Add</localize>
                </span>
            </td>

            <td></td>
        </tr>
    </tfoot>
</table>