<div class="umb-table">
    <div class="umb-table-head">
        <div class="umb-table-row">

            <div class="umb-table-cell">
                &nbsp;
            </div>

            <div class="umb-table-cell shield-table__name-small">
                <a class="umb-table-head__link" href="#"
                   ng-click="sort('datestamp', false)"
                   ng-class="{'sortable':false}" prevent-default>
                    <localize key="Shield.Dashboard.Journals.Table_DateHeader">Date</localize>
                    <i class="umb-table-head__icon icon"
                       ng-class="{'icon-navigation-up':isSortDirection('datestamp', 'asc'), 'icon-navigation-down': isSortDirection('datestamp', 'desc')}">
                    </i>
                </a>
            </div>

            <div class="umb-table-cell shield-table__name" ng-if="viewId === '0'">
                <a class="umb-table-head__link" href="#" prevent-default>
                    <localize key="Shield.Dashboard.Journals.Table_EnvironmentHeader">Environment</localize>
                    <i class="umb-table-head__icon icon"></i>
                </a>
            </div>

            <div class="umb-table-cell shield-table__name" ng-if="type === 0 || viewId === '0'">
                <a class="umb-table-head__link" href="#" prevent-default>
                    <localize key="Shield.Dashboard.Journals.Table_AppHeader">App</localize>
                    <i class="umb-table-head__icon icon"></i>
                </a>
            </div>

            <div class="umb-table-cell shield-table__name">
                <a class="umb-table-head__link" href="#" prevent-default>
                    <localize key="Shield.Dashboard.Journals.Table_MessageHeader">Message</localize>
                    <i class="umb-table-head__icon icon"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="umb-table-body">
        <div class="umb-table-row" ng-repeat="item in items track by $index">

            <div class="umb-table-cell">
                &nbsp;
            </div>

            <div class="umb-table-cell shield-table__name-small">
                <span>{{item.datestamp}}</span>
            </div>

            <div class="umb-table-cell shield-table__name" ng-if="viewId === '0'" ng-click="editItem(item.environment)">
                <span>{{item.environment.name}}</span>
            </div>

            <div class="umb-table-cell shield-table__name" ng-if="type === 0 || viewId === '0'" ng-click="editItem(item.app)">
                <span>{{item.app.name}}</span>
            </div>

            <div class="umb-table-cell">
                <span>{{item.message}}</span>
            </div>
        </div>
    </div>
</div>

<div class="flex justify-center">
    <umb-pagination ng-if="totalPages > 1"
                    page-number="pageNumber"
                    total-pages="totalPages"
                    on-next="nextPage"
                    on-prev="previousPage"
                    on-go-to-page="gotoPage">
    </umb-pagination>
</div>