<div class="shield-dashboard" ng-controller="Shield.Dashboards.Journal as vm" ng-init="vm.init()">

    <umb-load-indicator ng-show="vm.loading"></umb-load-indicator>

    <umb-editor-view ng-hide="vm.loading">
        <umb-editor-container>
            <div class="form-horizontal">
                <div class="umb-table">
                    <div class="umb-table-head">
                        <div class="umb-table-row">

                            <div class="umb-table-cell">
                                &nbsp;
                            </div>

                            <div class="umb-table-cell shield-table__name-small">
                                <a class="umb-table-head__link" href="#"
                                   ng-click="vm.sort('datestamp')"
                                   ng-class="{'sortable':true}" prevent-default>
                                    <localize key="Shield.Dashboard.Journals.Table_DateHeader">Date</localize>
                                    <i class="umb-table-head__icon icon"
                                       ng-class="{'icon-navigation-up':vm.isSortDirection('datestamp', 'asc'), 'icon-navigation-down': vm.isSortDirection('datestamp', 'desc')}">
                                    </i>
                                </a>
                            </div>

                            <div class="umb-table-cell shield-table__name" ng-if="vm.type === 0">
                                <a class="umb-table-head__link" href="#" prevent-default>
                                    <localize key="Shield.Dashboard.Journals.Table_EnvironmentHeader">Environment</localize>
                                    <i class="umb-table-head__icon icon"></i>
                                </a>
                            </div>

                            <div class="umb-table-cell shield-table__name" ng-if="vm.type === 0 || vm.type === 1">
                                <a class="umb-table-head__link" href="#" prevent-default>
                                    <localize key="Shield.Dashboard.Journals.Table_AppHeader">App</localize>
                                    <i class="umb-table-head__icon icon"></i>
                                </a>
                            </div>

                            <div class="umb-table-cell shield-table__name">
                                <a class="umb-table-head__link" href="#" prevent-default>
                                    <localize key="Shield.Dashboard.Journals.Table_MessageHeader">Message</localize>
                                    <i class="umb-table-head__icon icon"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="umb-table-body">
                        <div class="umb-table-row" ng-repeat="item in vm.items track by $index">

                            <div class="umb-table-cell">
                                &nbsp;
                            </div>

                            <div class="umb-table-cell shield-table__name-small">
                                <span>{{item.datestamp}}</span>
                            </div>

                            <div class="umb-table-cell shield-table__name" ng-if="vm.type === 0" ng-click="vm.editEnvironment(item.environment)">
                                <span>{{item.environment.name}}</span>
                            </div>

                            <div class="umb-table-cell shield-table__name" ng-if="vm.type === 0 || vm.type === 1" ng-click="vm.editApp(item.app)">
                                <span>{{item.app.name}}</span>
                            </div>

                            <div class="umb-table-cell">
                                <span>{{item.message}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex justify-center">
                    <umb-pagination ng-if="vm.totalPages > 1"
                                    page-number="vm.pageNumber"
                                    total-pages="vm.totalPages"
                                    on-next="vm.nextPage"
                                    on-prev="vm.previousPage"
                                    on-go-to-page="vm.gotoPage">
                    </umb-pagination>
                </div>
            </div>
        </umb-editor-container>
    </umb-editor-view>
</div>