<umb-pane ng-controller="Shield.Controllers.UmbracoAccess">
    <umb-header tabs="content.tabs">
        <div class="span12">
            <h2>Umbraco Access</h2>
        </div>
    </umb-header>
    <div class="umb-panel-body umb-scrollable row-fluid">
        <umb-tab-view>
            <umb-tab id="tab1" rel="whitelist">
                <div>Whitelist listing here</div>
                <form name="whitelistAddIP" ng-submit="AddIp(ip)">
                    <div class="tab-content form-horizontal">
                        <div class="umb-pane">
                            <input type="hidden" value="true" ng-model="ip.Allow" required />
                            <umb-control-group label="IP Address" description="Enter an IP address">
                                <input type="text" class="umb-editor umb-textstring" ng-model="ip.IpAddress" required />
                            </umb-control-group>
                            <div class="umb-tab-buttons" detect-fold>
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-success">
                                        Add
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </umb-tab>

            <umb-tab id="tab2" rel="blacklist">
                <div>Blacklist listing here</div>
                <form name="blacklistAddIP" ng-submit="AddIp(ip)">
                    <div class="tab-content form-horizontal">
                        <div class="umb-pane">
                            <input type="hidden" value="false" ng-model="ip.Allow" required />
                            <umb-control-group label="IPAddress" description="Enter an IP address">
                                <input type="text" class="umb-editor umb-textstring" ng-model="ip.IpAddress" required />
                            </umb-control-group>
                            <div class="umb-tab-buttons" detect-fold>
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-success">
                                        Add
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </umb-tab>

            <umb-tab id="tab3" rel="log">

            </umb-tab>
        </umb-tab-view>
    </div>
</umb-pane>