table.ips-container {
    width: 75%;

    thead, tbody, tfoot {

        tr {
            height:72px;

            td, th {
                max-width: 300px;

                &:last-child {
                    text-align: right;
                    min-width: 160px;
                    max-width: 160px;
                }
            }

            td {

                input {
                    display: block;
                }

                span.help-inline {
                    position: absolute;
                    color: #9d261d;
                }

                &:last-child {

                    span.btn:last-child{
                        margin-left: 4px;
                    }
                }
            }

            th {
                text-align: left;
            }
        }
    }

    tbody {

        tr {
            border-top: 1px solid #000;

            &:last-child{
                border-bottom: 1px solid #000;
            }
        }
    }
}