<div>
    <label for="enable" class="control-label">
        <localize key="Shield.General.Properties_DomainsLabel">Domains</localize>
        <small>
            <localize key="Shield.General.Properties_DomainsDescription">The domains that are associated to the environment</localize>
        </small>
    </label>
    <div class="controls">
        <div class="umb-editor">
            <table class="domains-container">
                <thead>
                    <tr>
                        <th><localize key="Shield.BackofficeAccess.Properties_AllowedIpsIpAddressHeader">Domain</localize></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="domain in vm.environment.domains track by $index">
                        <td>
                            <input type="text" id="domain{{$index}}" name="domain{{$index}}" ng-model="domain" required shield-domainvalid shield-add-to-form="shieldForm" />
                            <span class="help-inline" val-msg-for="domain{{$index}}" val-toggle-msg="required">
                                <localize key="Shield.BackofficeAccess.ErrorMessages_DomainRequired">Domain is required</localize>
                            </span>
                            <span class="help-inline" val-msg-for="domain{{$index}}" val-toggle-msg="shieldDomainvalid">
                                <localize key="Shield.BackofficeAccess.ErrorMessages_DomainInvalid">Invalid Domain</localize>
                            </span>
                        </td>

                        <td>
                            <span class="btn btn-danger" ng-click="vm.environment.domains.splice($index, 1)" ng-if="vm.environment.domains.length > 1">
                                <localize key="Shield.General_Remove">Remove</localize>
                            </span>
                        </td>
                    </tr>
                </tbody>

                <tfoot>
                    <tr>
                        <td></td>

                        <td>
                            <span class="btn btn-success" ng-click="vm.add()">
                                <localize key="general_add">Add</localize>
                            </span>
                        </td>

                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>