<div ng-controller="Shield.Editors.Edit as vm" ng-init="vm.init()">
    <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>
    <form name="shieldForm"
          ng-submit="vm.save()"
          novalidate
          val-form-manager>
        <umb-editor-view ng-if="!vm.loading" umb-tabs>

            <umb-editor-header name="vm.name"
                               tabs="vm.tabs"
                               name-locked="vm.nameLocked"
                               hide-icon="true"
                               hide-description="true"
                               hide-alias="true">
            </umb-editor-header>
            <umb-editor-container>
                <umb-tabs-content class="form-horizontal" view="true">
                    <umb-tab id="tab0" rel="0">
                        <div class="umb-el-wrap control-group umb-control-group">
                            <div>
                                <h4 ng-bind-html="vm.description"></h4>
                            </div>
                        </div>

                        <!-- Environments -->
                        <div ng-if="vm.type == 0">
                            <div class="umb-table">
                                <div class="umb-table-head">
                                    <div class="umb-table-row">

                                        <div class="umb-table-cell">
                                            &nbsp;
                                        </div>

                                        <div class="umb-table-cell umb-table__name">
                                            <a class="umb-table-head__link" href="#" prevent-default>
                                                <span>Name</span>
                                                <i class="umb-table-head__icon icon" ng-class="icon-navigation-up"></i>
                                            </a>
                                        </div>

                                        <!--<div class="umb-table-cell">
                                            <a class="umb-table-head__link" href="#" prevent-default>
                                                <span>Domains</span>
                                                <i class="umb-table-head__icon icon" ng-class="icon-navigation-up"></i>
                                            </a>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                            <div class="umb-table-body">
                                <div class="umb-table-row" ng-repeat="environment in vm.environments track by $index">

                                    <div class="umb-table-cell">
                                        &nbsp;
                                    </div>

                                    <div class="umb-table-cell umb-table__name" ng-click="vm.editItem(environment, $index)">
                                        <span ng-bind-html="environment.name"></span>
                                    </div>

                                    <!--<div class="umb-table-cell">
                                        <ul ng-repeat="domain in environment.domains track by $index">
                                            <li>{{domain.name}}</li>
                                        </ul>
                                    </div>-->
                                </div>
                            </div>
                        </div>

                        <!-- Environment -->
                        <div ng-if="vm.type == 1">
                            <div class="umb-table">
                                <div class="umb-table-head">
                                    <div class="umb-table-row">

                                        <div class="umb-table-cell">
                                            &nbsp;
                                        </div>

                                        <div class="umb-table-cell umb-table__name">
                                            <a class="umb-table-head__link" href="#" prevent-default>
                                                <span>App</span>
                                                <i class="umb-table-head__icon icon" ng-class="icon-navigation-up"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="umb-table-body">
                                <div class="umb-table-row" ng-repeat="app in vm.apps track by $index">

                                    <div class="umb-table-cell">
                                        &nbsp;
                                    </div>

                                    <div class="umb-table-cell umb-table__name" ng-click="vm.editItemById(app.Key, $index)">
                                        <span ng-bind-html="app.Value.name"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Apps -->
                        <div ng-if="vm.type == 2">
                            <div class="umb-el-wrap control-group umb-control-group">
                                <div>
                                    <label for="enable" class="control-label">
                                        <localize key="Shield.General.Properties_EnableLabel">Enable</localize>
                                        <small>
                                            <localize key="Shield.General.Properties_EnableDescription">Is this App active</localize>
                                        </small>
                                    </label>
                                    <div class="controls">
                                        <input type="checkbox" id="enable" ng-model="vm.configuration.enable" />
                                    </div>
                                </div>
                            </div>
                            <div ng-show="vm.configuration.enable == true">
                                <shield-app view="vm.appView" configuration="vm.configuration"></shield-app>
                            </div>
                        </div>
                    </umb-tab>
                    <umb-tab id="tab1" rel="1">

                        <!-- Journal -->
                        <div class="umb-table">
                            <div class="umb-table-head">
                                <div class="umb-table-row">
                                    <div class="umb-table-cell">
                                        <input class="umb-table__input" type="checkbox"
                                               ng-if="false"
                                               ng-click="vm.journal.selectAllItems($event)"
                                               ng-checked="vm.journal.isSelectedAllItems()" />
                                    </div>
                                    <div ng-class="{'umb-table-cell': true, 'umb-table__name': $index == 0}" ng-repeat="column in vm.journal.columns track by $index">
                                        <div ng-if="column.show">
                                            <a class="umb-table-head__link" title="Sort by {{ column.header }}" href="#"
                                               ng-click="vm.journal.sort(column.id)"
                                               ng-class="{'sortable':column.allowSorting}" prevent-default>
                                                <span ng-bind="column.name"></span>
                                                <i class="umb-table-head__icon icon" ng-class="icon-navigation-up"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="umb-table-body">
                                <div class="umb-table-row"
                                     ng-repeat="item in items"
                                     ng-class="{ '-selected':item.selected }"
                                     ng-click="vm.selectItem(item, $index, $event)">

                                    <div class="umb-table-cell">
                                        <i class="umb-table-body__icon umb-table-body__fileicon">
                                            <span ng-if="!item.iconUrl" class="{{item.icon}}"></span>
                                            <img ng-src="{{item.iconUrl}}" />
                                        </i>
                                        <i class="umb-table-body__icon umb-table-body__checkicon icon-check"></i>
                                    </div>

                                    <div ng-class="{'umb-table-cell': true, 'umb-table__name': $index == 0}" ng-repeat="column in vm.journal.columns track by $index">
                                        <div ng-if="column.show">
                                            <span ng-bind-html="item.content[column.alias]"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <umb-pagination ng-if="vm.journal.totalPages"
                                            page-number="vm.journal.pageNumber"
                                            total-pages="vm.journal.totalPages"
                                            on-next="vm.journal.nextPage"
                                            on-prev="vm.journal.previousPage"
                                            on-go-to-page="vm.journal.gotoPage">
                            </umb-pagination>
                        </div>

                    </umb-tab>
                </umb-tabs-content>
            </umb-editor-container>

            <umb-editor-footer>
                <umb-editor-footer-content-left>
                    <umb-breadcrumbs ng-if="vm.ancestors && vm.ancestors.length > 0"
                                     ancestors="vm.ancestors"
                                     entity-type="shield">
                    </umb-breadcrumbs>
                </umb-editor-footer-content-left>

                <div ng-if="vm.type != 1">
                    <umb-editor-footer-content-right>
                        <umb-button label="Update"
                                    type="submit"
                                    button-style="success"
                                    shortcut="ctrl+s"
                                    state="saveButtonState">
                        </umb-button>
                    </umb-editor-footer-content-right>
                </div>
            </umb-editor-footer>
        </umb-editor-view>
    </form>
</div>

