<div class="shield-editor" ng-controller="Shield.Editors.Edit as vm" ng-init="vm.init()">
    <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>
    <form name="shieldForm"
          ng-submit="vm.save()"
          novalidate
          val-form-manager>
        <umb-editor-view ng-if="!vm.loading" umb-tabs>

            <umb-editor-header ng-if="vm.editingEnvironment"
                               name="vm.environment.name"
                               name-locked="false"
                               hide-description="true"
                               hide-alias="true"
                               icon="vm.environment.icon">
            </umb-editor-header>

            <umb-editor-header ng-if="!vm.editingEnvironment"
                               name="vm.name"
                               tabs="vm.tabs"
                               name-locked="true"
                               hide-icon="true"
                               hide-description="true"
                               hide-alias="true">
            </umb-editor-header>

            <div class="umb-editor-header__actions-menu shield-editor-header" ng-if="vm.type == 0 && vm.id !== '1' && !vm.editingEnvironment">
                <div class="btn-group pull-right">
                    <a class="btn" href="#" ng-click="vm.editEnvironment()" prevent-default>
                        <localize key="general_edit">Edit</localize>
                    </a>
                </div>
            </div>

            <umb-editor-container>
                <div class="form-horizontal" ng-if="vm.editingEnvironment" ng-include="'/App_Plugins/Shield/Backoffice/Views/EditEnvironment.html?version=1.0.4'"></div>

                <umb-tabs-content class="form-horizontal" view="true" ng-if="!vm.editingEnvironment">
                    <umb-tab id="tab0" rel="0">
                        <div class="umb-el-wrap control-group umb-control-group">
                            <div>
                                <h4 ng-bind-html="vm.description"></h4>
                            </div>
                        </div>

                        <!-- Environment -->
                        <div ng-if="vm.type == 0">
                            <div class="umb-table">
                                <div class="umb-table-head">
                                    <div class="umb-table-row">

                                        <div class="umb-table-cell app-icon-cell">
                                            &nbsp;
                                        </div>

                                        <div class="umb-table-cell shield-table__name">
                                            <a class="umb-table-head__link" href="#" prevent-default>
                                                <span>Name</span>
                                                <i class="umb-table-head__icon icon"></i>
                                            </a>
                                        </div>

                                        <div class="umb-table-cell">
                                            <a class="umb-table-head__link" href="#" prevent-default>
                                                <span>Description</span>
                                                <i class="umb-table-head__icon icon"></i>
                                            </a>
                                        </div>

                                        <div class="umb-table-cell shield-table__name-enable">
                                            <a class="umb-table-head__link" href="#" prevent-default>
                                                <span>Enable</span>
                                                <i class="umb-table-head__icon icon"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="umb-table-body">
                                    <div class="umb-table-row"
                                         ng-repeat="app in vm.apps track by $index"
                                         ng-class="{'-selected': app.enable}">

                                        <div class="umb-table-cell app-icon-cell">
                                            <i class="umb-table-body__icon umb-table-body__fileicon">
                                                <span class="{{app.icon}}"></span>
                                            </i>
                                        </div>

                                        <div class="umb-table-cell shield-table__name" ng-click="vm.editItem(app)">
                                            <span ng-bind-html="app.name"></span>
                                        </div>

                                        <div class="umb-table-cell">
                                            <span ng-bind-html="app.description"></span>
                                        </div>

                                        <div class="umb-table-cell shield-table__name-enable">
                                            <i class="umb-table-body__icon umb-table-body__checkicon icon-check"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Apps -->
                        <div ng-if="vm.type == 1">
                            <div class="umb-el-wrap control-group umb-control-group">
                                <div>
                                    <label for="enable" class="control-label">
                                        <localize key="Shield.Properties_EnableLabel">Enable</localize>
                                        <small>
                                            <localize key="Shield.Properties_EnableDescription">Is this App active</localize>
                                        </small>
                                    </label>
                                    <div class="controls">
                                        <div class="umb-editor umb-checkbox">
                                            <input type="checkbox" id="enable" ng-model="vm.configuration.enable" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="vm.configuration.enable == true">
                                <shield-app view="vm.appView" configuration="vm.configuration"></shield-app>
                            </div>
                        </div>
                    </umb-tab>

                    <umb-tab id="tab1" rel="1" ng-if="vm.type == 0">
                        <div ng-include="'/App_Plugins/Shield/Backoffice/Views/EditEnvironment.html?version=1.0.4'"></div>
                    </umb-tab>

                    <umb-tab id="tab2" rel="2">
                        <shield-journal-listing items="vm.journals" total-pages="vm.journalsTotalPages" view-id="vm.id" type="vm.type"></shield-journal-listing>
                    </umb-tab>
                </umb-tabs-content>
            </umb-editor-container>

            <umb-editor-footer>
                <umb-editor-footer-content-left>
                    <umb-breadcrumbs ancestors="vm.ancestors"
                                     entity-type="shield">
                    </umb-breadcrumbs>
                </umb-editor-footer-content-left>

                <umb-editor-footer-content-right>
                    <umb-button ng-if="vm.editingEnvironment"
                                label="Cancel"
                                label-key="general_cancel"
                                type="button"
                                action="vm.cancelEditing()">
                    </umb-button>

                    <umb-button label="{{vm.button.label}}"
                                label-key="{{vm.button.labelKey}}"
                                type="submit"
                                button-style="success"
                                shortcut="ctrl+s"
                                state="vm.button.state">
                    </umb-button>
                </umb-editor-footer-content-right>
            </umb-editor-footer>
        </umb-editor-view>
    </form>
</div>

