<div ng-controller="Shield.Editors.Environment as vm" ng-init="vm.init()">
    <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>
    <form name="shieldForm"
          ng-submit="vm.save()"
          novalidate
          val-form-manager>

        <umb-editor-view ng-if="!vm.loading">
            <umb-editor-header name="vm.environment.name"
                               name-locked="false"
                               hide-description="true"
                               hide-alias="true"
                               icon="vm.environment.icon">
            </umb-editor-header>

            <umb-editor-container>
                <div class="umb-el-wrap control-group umb-control-group">
                    <div>
                        <label for="enable" class="control-label">
                            <localize key="Shield.General.Properties_DomainsLabel">Domains</localize>
                            <small>
                                <localize key="Shield.General.Properties_DomainsDescription">The domains that are associated to the environment</localize>
                            </small>
                        </label>
                        <div class="controls">
                            <input type="checkbox" id="enable" />
                        </div>
                    </div>
                </div>
            </umb-editor-container>

            <umb-editor-footer>
                <umb-editor-footer-content-left>
                    <umb-breadcrumbs ancestors="vm.ancestors"
                                     entity-type="shield">
                    </umb-breadcrumbs>
                </umb-editor-footer-content-left>

                <div>
                    <umb-editor-footer-content-right>
                        <umb-button label="Update"
                                    type="submit"
                                    button-style="success"
                                    shortcut="ctrl+s"
                                    state="vm.saveButtonState">
                        </umb-button>
                    </umb-editor-footer-content-right>
                </div>
            </umb-editor-footer>

        </umb-editor-view>
    </form>
</div>
