<ng-form name="FrontendAccessForm">

  <div class="umb-property">
    <div class="control-group umb-control-group">
      <div class="umb-el-wrap">

        <div class="control-header">
          <label class="control-label">
            <localize key="Shield.FrontendAccess.Properties_UmbracoUsersEnableLabel"></localize>
          </label>
          <small class="control-description">
            <localize key="Shield.FrontendAccess.Properties_UmbracoUsersEnableDescription"></localize>
          </small>
        </div>

        <div class="controls">
          <div class="umb-property-editor db">
            <div class="umb-property-editor umb-boolean">
              <umb-toggle input-id="Enabled"
                          checked="configuration.umbracoUserEnable"
                          on-click="configuration.umbracoUserEnable = !configuration.umbracoUserEnable"
                          show-labels="false"
                          label-position="right"
                          label-on="true"
                          label-off="false">
              </umb-toggle>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <shield-ip-access-control ip-access-control="configuration.ipAccessControl"></shield-ip-access-control>

  <shield-transfer-url-control transfer-url-control="configuration.transferUrlControl"></shield-transfer-url-control>
</ng-form>